.button {
  border: none;
  border-radius: 1000px;
  box-shadow: 12px 12px 24px rgba(79, 209, 197, 0.64);
  transition: all 0.3s ease-in-out 0s;
  position: relative;
}

.button::before {
  position: absolute;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease-in-out 0s;
}

.button::after {
  content: "";
  border-radius: 50%;
  border: 6px solid #ff0000;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring 1.2s infinite;
}

@keyframes ring {
  0% {
    width: 20px;
    height: 20px;
    opacity: 1;
  }
  100% {
    width: 200px;
    height: 200px;
    opacity: 0;
  }
}
