/*


$breakpoint arguement choices:
xs: 576px,
sm: 768px,
md: 992px,
lg: 1200px
*/

@mixin center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin removePosition {
  position: static;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transform: none;
}

@mixin respond($breakpoint) {
  @if $breakpoint == xs {
    @media only screen and (min-width: 567px) {
      @content;
    }
  }
  @if $breakpoint == sm {
    @media only screen and (min-width: 768px) {
      @content;
    }
  }
  @if $breakpoint == md {
    @media only screen and (min-width: 992px) {
      @content;
    }
  }
  @if $breakpoint == lg {
    @media only screen and (min-width: 1200px) {
      @content;
    }
  }
}

@mixin media($bk) {
  @media only screen and (min-width: $bk) {
    @content;
  }
}
