.btn {
  text-decoration: none !important;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 12px 18px;
  border: 1px solid $white;
  display: inline-block;
  text-decoration: none;
  color: $white;
  border-radius: 80px;
  margin-right: 20px;
  background-image: linear-gradient(
    120deg,
    transparent 0%,
    transparent 50%,
    #c9d935 50%
  );
  background-size: 220%;
  transition: all 0.4s;
  transform: translate(0);
  &:hover {
    background-position: 99%;
    color: $black;
    border-color: transparent;
    transform: translateY(-2px);
  }

  @include respond(sm) {
    padding: 20px 28px;
  }
}
.btn--rev {
  background-image: linear-gradient(
    120deg,
    #c9d935 0%,
    #c9d935 50%,
    #2ecc71 50%
  );
  color: $black;
  border-color: transparent;
  &:hover {
    color: $white;
    border: 1px solid transparent;
    transform: translateY(-2px);
  }
}

.header__buttons {
  margin-top: 30px;
}
