.testimonails {
  background-color: $background-color-pg;
}

.testimonial {
  overflow: hidden;

  &__text {
    margin-bottom: 50px;
  }

  .swiper-container {
    width: 100%;
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 100%;
    min-height: 300px;
    margin-right: 50px;

    @include respond(xs) {
      width: 450px;
    }
  }

  .swiper-container-3d .swiper-slide-shadow-left,
  .swiper-container-3d .swiper-slide-shadow-right {
    background-image: none;
  }

  &__card {
    border-radius: 5px;
    text-align: center;
    padding: 30px;
    background-color: #27ae60;

    &__review {
      position: relative;
      font-size: 22px;
      color: $white;
    }

    &__img {
      border-radius: 50%;
    }

    &__name {
      color: $white;
      text-transform: uppercase;
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 0;
    }

    &__about {
      color: $white;
      text-transform: uppercase;
      margin-bottom: 0;
    }

    span {
      font-size: 100px;
      font-family: sans-serif;
      position: absolute;
    }
  }
}
